<?xml version="1.0"?>
<PLCConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IpAddress>fwECAw==</IpAddress>
  <ModbusPort>1502</ModbusPort>
  <IsModbusTcpRun>false</IsModbusTcpRun>
  <OpendForms />
  <SerialPort />
  <RS485Port />
  <RS485Port2 />
  <SerialOpen>false</SerialOpen>
  <RS485Open>false</RS485Open>
  <RS485Open2>false</RS485Open2>
  <UpdateCheckTime>0001-01-01T00:00:00</UpdateCheckTime>
</PLCConfig>