<?xml version="1.0"?>
<PLCConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModbusPort>502</ModbusPort>
  <IsModbusTcpRun>true</IsModbusTcpRun>
  <OpendForms />
  <SerialPort>COM1</SerialPort>
  <RS485Port>COM6</RS485Port>
  <SerialOpen>true</SerialOpen>
  <RS485Open>false</RS485Open>
</PLCConfig>